<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.xtimms.trackbus">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".activity.MainActivity"
            android:theme="@style/SplashScreenBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.StopsActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".activity.ScheduleActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.TimelineActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.BookmarksActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.settings.SettingsHeadersActivity"
            android:label="@string/nav_action_settings"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:label="@string/action_settings"/>
    </application>

</manifest>